body {
  background-color: #111;
  color: #eee;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #228B22;
  color: white;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #ffc;
  margin: 0 0.5em;
  text-decoration: none;
}

.hero-logo {
  width: 75%;
  max-width: 350px;
  height: 75%;
  display: block;
  margin: 20px auto;
}
